<header>
  <mat-toolbar color="primary">
    <h1>Collatz Conjecture Visualizer</h1><mat-icon>timeline</mat-icon>
    <span class="header-spacer"></span>
  </mat-toolbar>
</header>
<div class="container">
  <div class="main-content dark">
    <mat-tab-group mat-align-tabs="start" color="primary">
      <mat-tab label="First">
        <app-line-chart chartTitle="First Chart" [lineChartData]="lineChartData" #lineChart></app-line-chart>
      </mat-tab>
      <mat-tab label="Second">
        <app-line-chart chartTitle="Second Chart" [lineChartData]="lineChartLogData" #lineChart></app-line-chart>
      </mat-tab>
    </mat-tab-group>
    <div class="action-buttons-container">
      <span class="delay-slider-button" [matTooltip]="sliderToolTip" matTooltipPosition="below">
        <span color="primary">Delay </span>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          [(ngModel)]="sequenceGenerationTime"
          tickInterval="1000"
          step="0.1"
          min="0"
          max="1"
          aria-label="units"
          [disabled]="disableSlider"
        ></mat-slider>
      </span>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Enter Number</mat-label>
        <input matInput placeholder="Placeholder" type="number" min="0" (keypress)="checkValue($event)" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="randomize()">Update</button>
      <button mat-button color="primary" (click)="downloadCanvas()" ><mat-icon>download</mat-icon></button>
    </div>
  </div>
</div>
<footer>
  <mat-toolbar color="primary" class="footer-section">
    <p><strong>developed by akashdandriyal</strong></p>
  </mat-toolbar>
</footer>