.mat-toolbar {
    min-height: 50px !important; 
    height: 50px !important;
}

.mat-toolbar-row {
    min-height: 50px !important; 
    height: 50px !important;
}

.header-spacer {
    flex: 1 1 auto;
}

.main-content {
    padding: 2%;
}

/* .action-buttons-container {
    display: flex;
    justify-content: space-between;
} */

.delay-slider-button {
    padding: 10px 16px;
    border: 1px solid #ff4081;
    border-radius: 4px;
}

.delay-slider-button > span{
    color: #ff4081;
}

.dark {
    background-color: #303030;
}


.footer-section {
    display: flex;
    justify-content: center;
}

.footer-section > p {
    font-size: 16px;
}