<header>
  <mat-toolbar color="primary">
    <h1>Collatz Conjecture Visualizer</h1><mat-icon>timeline</mat-icon>
    <span class="header-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Share" matTooltipPosition="below"><mat-icon>share</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="shareToSocialMedia('fb')"><img src="/assets/logo-facebook.svg" class="share-option-icon"/>Share on Facebook</button>
      <button mat-menu-item (click)="shareToSocialMedia('tw')"><img src="/assets/logo-twitter.svg" class="share-option-icon"/>Share on Twitter</button>
      <button mat-menu-item (click)="shareToSocialMedia('li')"><img src="/assets/logo-linkedin.svg" class="share-option-icon"/>Share on LinkedIn</button>
      <button mat-menu-item (click)="shareToSocialMedia('ot')" [ngClass]="{'hide': hideShareOthersButton}"><mat-icon>link</mat-icon>Others</button>
    </mat-menu>
  </mat-toolbar>
</header>
<div class="container dark">
  <div class="main-content">
    <mat-tab-group mat-stretch-tabs color="primary">
      <mat-tab label="Value Chart">
        <app-line-chart chartTitle="Collatz Conjecture: Value Chart" [lineChartData]="lineChartData" #lineChart></app-line-chart>
      </mat-tab>
      <mat-tab label="Logarithmic Chart">
        <app-line-chart chartTitle="Collatz Conjecture: Logarithmic Chart" [lineChartData]="lineChartLogData" #lineChart></app-line-chart>
      </mat-tab>
    </mat-tab-group>
    <div class="action-buttons-container">
      <div>
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter Number</mat-label>
          <input matInput type="number" min="1" #userInput="ngModel" [ngModel]="valueEntered" required (ngModelChange)="checkValue($event)">
        </mat-form-field>
        <button mat-raised-button color="primary" matTooltip="Generate sequence" matTooltipPosition="below" [disabled]="(userInput.invalid && userInput.dirty) || userInput.pristine" (click)="generateSeries(); userInput.reset();">Generate</button>
      </div>
      <div>
        <span class="delay-slider-button" [matTooltip]="sliderToolTip" matTooltipPosition="below">
          <span>Delay </span>
          <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            [(ngModel)]="sequenceGenerationTime"
            tickInterval="1000"
            step="0.1"
            min="0"
            max="1"
            aria-label="units"
            [disabled]="disableSlider"
          ></mat-slider>
        </span>
        <button mat-button color="primary" matTooltip="Download current tab chart" aria-label="Download current tab chart" matTooltipPosition="below" (click)="downloadCanvas()"><mat-icon>download</mat-icon></button>
      </div>
    </div>
  </div>
  <app-details></app-details>
</div>
<footer>
  <mat-toolbar color="primary" class="footer-section">
    <p><strong>developed by akashdandriyal</strong></p>
  </mat-toolbar>
</footer>