.details {
    text-align: justify;
}

.details > mat-divider {
    position: relative !important;
    margin: 10px 0;
}

.collatz-graph-img {
    width: 100%;
    object-fit: contain;
}

.details-graph > p {
    text-align: center;
}