<mat-card class="details">
    <mat-card-title>The Collatz Conjecture</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        The Collatz conjecture is one of the most famous unsolved problems inmathematics. The conjecture asks whether repeating two simple arithmetic operations will eventually transform everypositive integerinto 1. It concernssequences of integersin which each term is obtained from the previous term as follows: if the previous term iseven, the next term is one half of the previous term. If the previous term is odd, the next term is 3 times the previous term plus 1. The conjecture is that these sequences always reach 1, no matter which positive integer is chosen to start the sequence.
    </mat-card-content>
    <mat-card-content class="details-graph">
        <img class="collatz-graph-img" src="/assets/conjecture-graph.png" alt="Collatz graph image">
        <p><i>Graph of Collatz Conjecture for 71</i></p>
    </mat-card-content>
</mat-card>